@import url(../styles//global.css);


.buttons_nav {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--black);
  font-family: var(--font_secondary);
}


.buttons_nav svg {
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}



.change_language_container {
  display: flex;
  align-items: center;
  gap: 6px;
}


.language_option {
  cursor: pointer;
  font-weight: 500;
  color: #7a7a7a;
  transition: color 0.2s ease;
  font-size: 1rem;
}


.language_separator {
  color: #7a7a7a;
}


.active {
  color: var(--black);
  font-weight: 700;
  font-weight: 1000;
  font-size: 2rem;
}


.language_option:hover {
  color: var(--black);
}

@media (min-width: 768px) {

  .buttons_nav svg{
    display: none;
  }

  .language_separator{
    font-size: 2rem;
    color: var(--black);
    font-weight: 700;
  }

  .active{
    font-weight: 1000;
    font-size: 2rem;
  }
}