@import url(../styles//global.css);

.home_container {
  min-height: 100dvh; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 
  padding: 20px; 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  position: relative; 
  z-index: 1; 
  overflow: hidden; 
  margin:0;
  gap:4px
}

.home_container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1; 
}

.welcome_text_container{
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 30px;
  color: var(--black);
  align-self: stretch;
  max-width: 420px;   
}

.welcome_text, .welcome_text_2{
  font-family: var(--font_secondary);
  margin: 0 0 10px 0;
  font-size: 2rem;
  font-weight: 300;
}


.profile_picture{
  width: 17rem; 
  height: 17rem; 
  object-fit: cover; 
  border-radius: 20%; 
  border: 6px solid var(--black);
  margin-bottom: 2rem; 
}

.about_text{
  font-family: var(--font_secondary);
  font-size: 2rem;
  margin-left: 30px;
  color: var(--black);
  font-weight: 300;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .home_container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 30px 40px;
  }

  .welcome_text_container {
    margin: 0;
    max-width: 180px;
    align-self: flex-start;
    margin-top: 20px;
  }

  .welcome_text,
  .welcome_text_2 {
    font-size: 2.3rem;
    line-height: 1.1;
    margin: 0;
  }

  .profile_picture {
    width: 20rem;
    height: 20rem;
    margin-bottom: 0;
  }

  .about_text {
    font-size: 2.3rem;
    line-height: 1.25;
    margin: 0;
    max-width: 330px;
  }
}

@media (min-width: 768px) {
  .home_container {
    min-height: calc(100vh - 90px);
    display: grid;
    grid-template-columns: 250px 380px 340px;
    align-items: center;
    justify-content: center;
    column-gap: 2.5rem;
    padding: 30px 50px;
  }

  .welcome_text_container {
    margin: 0;
    max-width: 250px;
    align-self: start;
    margin-top: 10px;
  }

  .welcome_text,
  .welcome_text_2 {
    font-size: 3.5rem;
    line-height: 1.2;
    margin: 0;
  }

  .profile_picture {
    width: 30rem;
    height: 30rem;
    margin: 0 8rem 0 2rem ;
    border-radius: 18%;
    border: 6px solid var(--black);
    justify-self: center;
  }

  .about_text {
    font-size: 2.7rem;
    line-height: 1.35;
    margin: 0 0 0 1rem;
    font-weight: 600;
    max-width: 340px;
    text-align: left;

  }
}