@import url('../styles/global.css');

.navbar_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--white_one);
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 8px 16px rgba(0, 0, 0, 0.1);
}

.navbar_mobile {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:0 10px;
    gap: 100px;
}

.title_mobile {
    font-size: 2.2rem;
    color: var(--black);
    font-family: var(--font_secondary);
    margin: 10px;
    color: var(--black);
}

.navbar_desktop {
    display: none;
}

@media (min-width: 768px) {

    .navbar_mobile {
        display: none;
    }

    .navbar_texts{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items:flex-start;
        line-height:1.1;
    }
    .navbar_desktop{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
        padding: 0 40px; 
        width: 100%;
    }

    
    .title_desktop_name{
        font-family: var(--font_secondary);
        font-size: 2rem;
        color: var(--black);
        margin: 10px 0 0 15px;
    }

      .title_desktop_sub{
        font-family: var(--font_secondary);
        font-size: 1rem;
        color: var(--black);
        margin: 10px 0 0 15px;
        font-weight: 100;
        margin: 0 0 5px 15px;
    }
}