a {
    text-decoration: none;
    color: var(--black);
    font-family: var(--font_secondary);
    font-size: 1.5rem;
    font-weight: lighter;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
    transition: text-shadow 0.1s ease-in-out, border-bottom-color 0.1s;
    text-shadow: none;
}

a:hover {
    color: var(--black);
    text-shadow: 0 0 1px var(--black), 0 0 1px var(--black);
    border-bottom-color: var(--black);
}

.links_container {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.button_contato{
    color:var(--white_one);
    background: var(--black);
    padding: 0.5px 15px;
    border-radius: 10px;
    font-weight:500
}

.button_contato:hover{
    color:var(--white_one);
    background: var(--black);
}